# Frontend
frontend/node_modules/
frontend/dist/

# Backend
__pycache__/
*.pyc
.eggs/
*.egg-info/
celerybeat-schedule
backend/celerybeat-schedule

# DevOps
.env

# IDE
.idea/
.setting/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
